.p-heading {
    color: var(--red);
    font-weight: bold;
    line-height: 1.05;
    margin: 0;
    margin-top: 20px;
    letter-spacing: 0%;
    font-size: 52px;
}

.p-section-heading-wrapper {
    max-width: 1400;
    margin: 0 auto 40px;
    padding: 0 38px;
    text-align: center;
}

.p-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #4b4b4b;
    margin: 0;
    margin-top: 10;
    max-width: 320;
    letter-spacing: 0%;
}

.p-product-title {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    letter-spacing: "0%";
    font-size: 34px;
    color: #333;
    margin-bottom: 10;
}