.yt-snip-grid {
  justify-self: center;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.yt-winners {
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.yt-h1 {
  color: #dd2120;
  justify-self: flex-start;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.yt-winright{
  border-left:2px solid red;
  border-right:2px solid red;
  display: flex;
  flex-direction: column;
  gap:2%;
}
