:root {
  --gold: #f3c720;
  --red: #dd2120;
  --font: "KelloggsSans", Arial, sans-serif;
}

.yt-snip-grid {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.yt-winners {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 2%;
  margin: 0px 10%;
}

.yt-h1 {
  color: var(--red);
  margin: 5% 10% 2%;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  display: block;
  text-align: left;
}

.yt-winright {
  border-inline: 1px solid var(--red);
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 30%;
  margin: 0;
}

.yt-winleft {
  height: auto;
  width: 100%;
  gap: 2%;
}