:root {
    --red: #e11d1d;
    --white: #ffffff;
    --black: #000000;
    --gray: #f2f2f2;
    --radius: 16px;
    --font: "KelloggsSans", Arial, sans-serif;
    --gold: #f3c720;

}

.ch-container {
    position: relative;
    display: block;
    height: 75vh;
    margin: 0 0 10%;
}

.ch-star {
    height: 70%;
    width: 20%;
}
.ch-star>img{
    position: absolute;
    top: -40%;
    left: -6%;
    margin: 1%;
}
.ch-yellow-banner {
    position: absolute;
    top: -30%;
    background-color: var(--gold);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
    margin: 20% 10%;
    border-radius: 32px;
}

.ch-cocohead {
    position: absolute;
    height: 100%;
    left: -6%;
}

.ch-cocohead img {
    height: 100%;
    width: 100%;
    scale: 1.2;
}

.ch-yellow-box {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    gap: 0%
}

.ch-content {
    width: 35%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.ch-icon {
    width: 100%;
    height: 25%;
}

.ch-icon>img {
    width: 25%;
}

.ch-title {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 4%;
    /* fixed typographic scale */
    line-height: 1.25em;
    /* stable vertical rhythm */

    height: 25%;
    max-height: calc(1.25em * 2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    text-align: center;
}


.ch-description {
    margin-top: 4%;
    height: 50%;
    text-align: left;
    font-size: 0.8rem;
    text-wrap: wrap;
    text-overflow: clip;
}