.sl-modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    animation: popIn 0.3s ease-out
}

.sl-modal-content>h2 {
    font-size: 24px;
    margin: 0 0 5px;
    color: #333;
}

.sl-modal-content>p {
    color: #666;
    font-size: 14px;
    margin-bottom: 25px;
}

.sl-closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #999
}


.sl-modal-icon {
    width: 70px;
    height: 70px;
    background-color: var(--gold);
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px
}


.sl-input-group {
    margin-bottom: 15px;
    text-align: left
}

.sl-label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px
}

.sl-input {
    font-family: var(--font);
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #eee;
    outline: none;
    box-sizing: border-box
}


.sl-modal-loginbtn {
    font-family: var(--font);
    width: 100%;
    padding: 15px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 12px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px
}