.q-card-anim {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.q-card-anim:hover {
    transform: translateY(-10px);
}

.q-yellow-card {
    background-color: var(--gold);
    border-radius: 30px;
    padding: 35px 25px;
    flex: 1;
    max-width: 320px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.q-icon-box {
    background-color: var(--white);
    width: 55px;
    height: 55px;
    border-radius: 15px;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.q-card-title {
    font-size: 22px;
    font-weight: 800;
    margin: 0 0 10px;
    color: #333;
}

.q-card-desc {
    font-size: 14px;
    color: #444;
    line-height: 1.4;
    margin-bottom: 25px;
    height: 50px;
}
