
.q-header {
    background-color: var(--red);
    color: var(--white);
    padding: 140px 20px 100px;
    border-bottom-left-radius: 50% 12%;
    border-bottom-right-radius: 50% 12%;
    position: relative;
    overflow: hidden;
    margin-top: 0;
    padding-top: 140px;
}

.q-header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}


.q-header-text-container {
    text-align: center;
    flex: 1;
}

.q-title {
    font-size: 46px;
    margin: 0;
    font-weight: 800;
}

.q-subtitle {
    font-size: 20px;
    margin: 5px 0 0;
    opacity: 0.9;
}

.q-header-action-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.q-coco-head-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--white);
    background-color: var(--white)
}

.q-help-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
