:root {
    --red: #dd2120;
    --font: "KelloggsSans", Arial, sans-serif;
    --white: #ffffff;
}

.qr-container {
    margin: 40px 0px;
    background-color: var(--red);
    color: var(--white);
}

.qr-form {
    display: inline-flex;
    flex-direction: column;
    width: 600px;
    background-color: white;
    color: var(--red);
    margin: 20px;
    padding: 12px;
    border-radius: 20px;
}

.qr-form>div {
    display: flex;
    justify-content: space-between;
}

.qr-form>div:nth-child(2) {
    height: 20vh;
    align-items: center;
}

.qr-form label {
    text-align: left;
}

.qr-form input {
    width: 300px;
}

.qr-address {
    display: flex;
    flex-direction: column;
    gap: 2px;
}