:root {
    --red: #dd2120;
    --light: #f5f5f5;
    --radius: 20px;
    --shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}


.sr-container {
    margin: 8% 0%;
    min-height: 100vh;
    display: flex;
        align-items: center;
    justify-content: center;
    padding: 20px;
}

.sr-card {
    width: 100%;
    max-width: 520px;
    background: white;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    position: relative;
}

/* Header */
.sr-header {
    background: var(--red);
    color: white;
    padding: 24px;
    text-align: center;
    position: relative;
}

.sr-logo {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding-right: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.sr-logo img {
    height: 28px;
    width: auto;
    display: block;
}

.sr-header h1 {
    margin: 0;
    font-size: 1.4rem;
}

/* Body */
.sr-body {
    padding: 24px;
}

.sr-body h2 {
    font-size: 1.2rem;
    margin: 24px 0 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    text-align: left;
}

/* Grid */
.sr-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;

}

/* Inputs */
.sr-grid input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.9rem;

}

.sr-upload {
    border: 2px solid var(--red);
    background: white;
    color: var(--red);
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.sr-upload:hover {
    background: var(--red);
    color: white;
}


/* Footer */
.sr-footer {
    margin-top: 24px;
    text-align: center;
}

.sr-footer label {
    font-size: 0.85rem;
    display: block;
    margin-bottom: 16px;
}

/* Submit */
.sr-submit {
    background: var(--red);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.sr-submit:hover {
    opacity: 0.9;
}

.sr-btn {
    z-index: 5; 
    position: absolute;
    top: 3%;
    right: 6%;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;

}

.sr-btn:hover {
    color: var(--gold);
}