:root {
    --red: #f60945;   
    
     /* --red: #dd2120; */
    --green:#4CAF50;
    --gold: #f3c720;
    --white: #ffffff;
    --black: #000000;
    --gray: #f2f2f2;
    --font: "KelloggsSans", Arial, sans-serif;
}
