.brand {
    margin-top: 3%;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-image {
    width: 70%;
    margin-bottom: 16px;
}

.brand-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.prize-box {
    border: 2px solid var(--white);
    padding: 12px 16px;
}

.prize-amount {
    font-size: 21px;
    font-weight: 600;
}

.prize-sub {
    font-size: 13px;
}
