.brand {
    margin-top: 3%;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand h1 {
    font-family: 'KelloggsSans', Arial, sans-serif;
    font-style: italic;
}



.brand-image {
    width: 70%;
    margin-top: -40px;
    margin-bottom: 16px;

}

.brand-title {

    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.prize-box {
    padding: 10px 12px;
    color: #fff;

}

.prize-amount {
    font-size: 30px;
    font-weight: 600;
}

.prize-sub {
    font-size: 16px;
    font-weight: 500;

}