:root {
    --red: #e11d1d;
    --white: #ffffff;
    --black: #000000;
    --gray: #f2f2f2;
    --radius: 16px;
    --font: "KelloggsSans", Arial, sans-serif;
}

.scholarship {
    background: var(--red);
    color: var(--white);
    padding: 4% 2%;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* LEFT BRAND */

/* CONTENT */
.content {
    flex: 1;
    display: flex;
    justify-items: flex-start;
    gap: 40px;
}

/* FORM */
.form {
    flex: 0 0 40%;
    width: 50%;
}

.form h1 {
    width: 80%;
    font-size: 46px;
    margin-bottom: 22px;
    line-height: 45px;
}

.form input,
.form select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    padding: 6px 0px;
    margin-bottom: 32px;
    color: var(--white);
    font-family: var(--font);
    font-size: 16px;
}

.form input {
    height: 6%;
}

.form input,
.form select,
textarea {
    outline: none;
}

.form input:focus,
.form select:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

.form input::placeholder {
    color: var(--white);
}

.row {
    display: flex;
    gap: 24px;
}

.row input {
    flex: 1;
}

.row select {
    width: 70px;
    background: var(--white);
    color: var(--black);
}

/* RIGHT */
.right {
    margin-top: 4%;
    width: 46%;
}

/* UPLOAD */
.upload {
    background: var(--white);
    color: var(--black);
    padding: 16px;
    border-radius: var(--radius);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 16px;
}

/* ESSAY */
.essay {
    position: relative;

}

.counter {
    position: absolute;
    right: 8%;
    background: var(--black);
    color: var(--white);
    padding: 7px 12px;
    border-radius: 0 0 12px 12px;
    font-size: 12px;
    transform: translate(-10%, 120%);
}

textarea {
    margin-top: 10%;
    width: 100%;
    background: var(--gray);
    border: none;
    border-radius: 24px;
    padding: 34px;
    resize: both;
    font-family: var(--font);
    min-width: 380px;
    min-height: 300px;

}

/* SUBMIT */
.submit {
    margin-top: 32px;
    width: 140px;
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    font-family: var(--font);

}

.submit:hover {
    background: #eee;
}

.submit-btn {
    display: flex;
    width: 120%;
    justify-content: space-between;
}

.submit-btn button {
    margin-top: 5%;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
}

.submit-btn img {
    margin-top: 5%;
    width: 70%;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .brand,
    .form,
    .right {
        width: 100%;

    }
}