:root {
    --red: #F60945;
    --white: #ffffff;
    --black: #000000;
    --gray: #f2f2f2;
    --radius: 16px;
    --font: "KelloggsSans", Arial, sans-serif;
}

.btn {
    font-family: var(--font);
    background-color: #F60945;
    color: white;
    border: 2px solid #F60945;
    text-wrap: nowrap;

}

.btn:hover {
    background-color: #ffffff;
    /* ⚪ white bg */
    color: #F60945;
    /* 🔴 red text */
    border: 2px solid #F60945;
}