@font-face {
  font-family: 'KelloggsSans';
  src: url('./fonts/kelloggssans-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KelloggsSans';
  src: url('./fonts/kelloggssans-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
