/* Global reset */
body {
  margin: 0;
  font-family: "Kellogg's Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: code font (keep or remove) */
code {
  font-family: "Kellogg's Sans";
}

/* Kellogg's Sans - Light */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Kellogg's Sans - Regular */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Kellogg's Sans - Italic */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Kellogg's Sans - Medium */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Kellogg's Sans - Bold */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
