/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Modern Best Practices & Reset */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Kellogg's Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --red: #E41F35;
}

/* Optional: code font (keep or remove) */
code {
  font-family: "Kellogg's Sans";
}

/* Kellogg's Sans - Light */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Kellogg's Sans - Regular */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Kellogg's Sans - Italic */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Kellogg's Sans - Medium */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Kellogg's Sans - Bold */
@font-face {
  font-family: "Kellogg's Sans";
  src: url('./fonts/kelloggssans-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}