.h-button {
    padding: 0.75rem 2.5rem;
    border-radius: 50px;
    border: none;
    background-color: var(--white);
    color: var(--red);
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--font);
    background-color: var(--white);
}

.h-button:hover {
    background-color: var(--gold);
}

.h-icon-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    box-shadow: 2px 3px 0px var(--red), 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: linear-gradient(180deg, #ffb366, #ff8a2b);
}

.h-button:hover>.h-icon-circle {
    transform: scale(1.2);
}