.abt-social-media {
    margin-left:10px;
    align-items: center;
    flex: 0 0 auto;
    font-size: 1.5vw;
    line-height: 2.1vw;
    font-weight: 900;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.abt-social-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 2px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #000;
    font-size: 200px;
}